In [1]:
import pandas as pd

df = pd.read_csv("../../data/eff_pop.csv", sep=";")
df_metadata = pd.read_csv("../../data/metadata_eff_pop.csv", sep=";")

In [35]:
df.head()

,GEO,GEO_OBJECT,SEX,AGE,EP_MEASURE,OBS_STATUS_FR,TIME_PERIOD,OBS_VALUE
0,78,DEP,M,Y50T54,POP,D,2007,44919.0
1,85,DEP,M,Y60T64,POP,D,2007,15680.0
2,82,DEP,F,Y15T19,POP,D,2007,6516.0
3,79,DEP,_T,Y25T29,POP,D,2007,19285.0
4,62,DEP,F,Y_LT5,POP,D,2007,47222.0
5,80,DEP,F,Y25T29,POP,D,2007,17497.0
6,81,DEP,F,Y70T74,POP,D,2007,10206.0
7,90,DEP,M,Y10T14,POP,D,2007,4411.0
8,80,DEP,F,Y75T79,POP,D,2007,12127.0
9,58,DEP,F,Y80T84,POP,D,2007,5675.0
10,64,DEP,M,Y70T74,POP,D,2007,13894.0
11,82,DEP,F,Y35T39,POP,D,2007,8115.0
12,52,DEP,M,Y80T84,POP,D,2007,2234.0
13,42,DEP,F,Y35T39,POP,D,2007,24562.0
14,25,DEP,F,Y85T89,POP,D,2007,4188.0
15,45,DEP,_T,Y60T64,POP,D,2007,31513.0
16,28,DEP,M,Y15T19,POP,D,2007,13650.0
17,56,DEP,F,Y55T59,POP,D,2007,26034.0
18,28,DEP,M,Y35T39,POP,D,2007,14821.0
19,40,DEP,_T,Y_LT5,POP,D,2007,19517.0
20,43,DEP,F,Y_GE95,POP,D,2007,422.0
21,48,DEP,F,Y55T59,POP,D,2007,2774.0
22,33,DEP,_T,Y90T94,POP,D,2007,7903.0
23,25,DEP,M,Y75T79,POP,D,2007,7210.0
24,71,DEP,F,Y30T34,POP,D,2006,16454.0
25,61,DEP,_T,Y70T74,POP,D,2006,15015.0
26,67,DEP,F,Y35T39,POP,D,2006,40249.0
27,70,DEP,M,Y75T79,POP,D,2006,3756.0
28,76,DEP,M,Y_LT5,POP,D,2006,39328.0
29,83,DEP,F,Y90T94,POP,D,2006,5604.0
30,76,DEP,F,Y70T74,POP,D,2006,28675.0
31,89,DEP,M,Y85T89,POP,D,2006,1660.0
32,88,DEP,_T,Y40T44,POP,D,2006,27309.0
33,69,DEP,F,Y85T89,POP,D,2006,11620.0
34,91,DEP,F,Y55T59,POP,D,2006,39586.0
35,73,DEP,_T,Y40T44,POP,D,2006,30396.0
36,04,DEP,M,Y85T89,POP,D,2008,1023.0
37,05,DEP,M,Y35T39,POP,D,2008,4648.0
38,91,DEP,M,Y5T9,POP,D,2007,42719.0
39,11,DEP,M,Y70T74,POP,D,2008,7805.0
40,09,DEP,M,Y_GE95,POP,D,2008,101.0
41,2B,DEP,M,Y50T54,POP,D,2008,5564.0
42,91,DEP,_T,Y80T84,POP,D,2007,20773.0
43,972,DEP,F,Y25T29,POP,D,2007,10335.0
44,16,DEP,_T,Y80T84,POP,D,2008,12659.0
45,21,DEP,M,Y45T49,POP,D,2008,17521.0
46,DOM,OTHER,M,Y85T89,POP,D,2007,4102.0
47,FM,FRANCE,M,Y55T59,POP,D,2007,2049290.0
48,26,DEP,F,Y10T14,POP,D,2008,14705.0
49,22,DEP,M,Y20T24,POP,D,2008,13960.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272973 entries, 0 to 272972
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   GEO            272973 non-null  object
 1   GEO_OBJECT     272973 non-null  object
 2   SEX            272973 non-null  object
 3   AGE            272973 non-null  object
 4   EP_MEASURE     272973 non-null  object
 5   OBS_STATUS_FR  272973 non-null  object
 6   TIME_PERIOD    272973 non-null  int64
 7   OBS_VALUE      272973 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 16.7+ MB

In [4]:
df_metadata.head()

  COD_VAR LIB_VAR COD_MOD          LIB_MOD
0     AGE     Âge  Y_LT20  Moins de 20 ans
1     AGE     Âge  Y20T39   De 20 à 39 ans
2     AGE     Âge  Y40T59   De 40 à 59 ans
3     AGE     Âge  Y60T74   De 60 à 74 ans
4     AGE     Âge  Y_GE75   75 ans ou plus

In [5]:
df["EP_MEASURE"].value_counts()

EP_MEASURE
POP                   272211
PT_YGE65_IN_Y20T64       552
AVERAGE                  105
MEDAGE                   105
Name: count, dtype: int64

In [6]:
df["GEO_OBJECT"].value_counts()

GEO_OBJECT
DEP       226221
REG        39657
FRANCE      4800
OTHER       2295
Name: count, dtype: int64

In [10]:
df_metadata["COD_MOD"].value_counts()

COD_MOD
_T          2
F           2
93          2
94          2
84          2
           ..
973         1
974         1
DOM         1
976         1
F_X_D976    1
Name: count, Length: 175, dtype: int64

Des doublons imprévus, il faut corriger cela...

In [13]:
df_metadata[df_metadata["COD_MOD"].duplicated(keep=False)]

    COD_VAR     LIB_VAR COD_MOD                     LIB_MOD
26      AGE         Âge      _T                       Total
34      SEX        Sexe       F                       Femme
35      SEX        Sexe      _T                       Total
72      GEO  Géographie      01                         Ain
73      GEO  Géographie      02                       Aisne
74      GEO  Géographie      03                      Allier
75      GEO  Géographie      04     Alpes-de-Haute-Provence
77      GEO  Géographie      06             Alpes-Maritimes
82      GEO  Géographie      11                        Aude
96      GEO  Géographie      24                    Dordogne
99      GEO  Géographie      27                        Eure
100     GEO  Géographie      28                Eure-et-Loir
104     GEO  Géographie      32                        Gers
116     GEO  Géographie      44            Loire-Atlantique
124     GEO  Géographie      52                 Haute-Marne
125     GEO  Géographie      53                     Mayenne
147     GEO  Géographie      75                       Paris
148     GEO  Géographie      76              Seine-Maritime
156     GEO  Géographie      84                    Vaucluse
165     GEO  Géographie      93           Seine-Saint-Denis
166     GEO  Géographie      94                Val-de-Marne
174     GEO  Géographie       F                      France
176     GEO  Géographie      44                   Grand Est
177     GEO  Géographie      32             Hauts-de-France
178     GEO  Géographie      11               Île-de-France
179     GEO  Géographie      28                   Normandie
180     GEO  Géographie      75          Nouvelle-Aquitaine
181     GEO  Géographie      76                   Occitanie
182     GEO  Géographie      52            Pays de la Loire
183     GEO  Géographie      93  Provence-Alpes-Côte d'Azur
184     GEO  Géographie      01                  Guadeloupe
185     GEO  Géographie      02                  Martinique
186     GEO  Géographie      03                      Guyane
187     GEO  Géographie      04                  La Réunion
188     GEO  Géographie      84        Auvergne-Rhône-Alpes
189     GEO  Géographie      27     Bourgogne-Franche-Comté
190     GEO  Géographie      53                    Bretagne
191     GEO  Géographie      24         Centre-Val de Loire
192     GEO  Géographie      94                       Corse
193     GEO  Géographie      06                     Mayotte

Il faut faire des choix... Je fais le choix de changer le nom du F de France qui devient fr. Le _T de l'âge devient lui _Ta. Si les changements sont fait ici, ils le seront également dans le df. Quant aux doublons des régions, ils sont tout simplement supprimés.

In [21]:
df_metadata["index"] = df_metadata.index
df_metadata.head()

  COD_VAR LIB_VAR COD_MOD          LIB_MOD  index
0     AGE     Âge  Y_LT20  Moins de 20 ans      0
1     AGE     Âge  Y20T39   De 20 à 39 ans      1
2     AGE     Âge  Y40T59   De 40 à 59 ans      2
3     AGE     Âge  Y60T74   De 60 à 74 ans      3
4     AGE     Âge  Y_GE75   75 ans ou plus      4

On remarque que l'index des régions est après celui de la France en position 174. Je vais donc supprimer les lignes GEO après la ligne 174 pour retirer ses doublons la.

In [23]:
df_metadata = df_metadata[~((df_metadata["COD_VAR"] == "GEO") & (df_metadata["index"] > 174))]
df_metadata[df_metadata["COD_MOD"].duplicated(keep=False)]

    COD_VAR     LIB_VAR COD_MOD LIB_MOD  index
26      AGE         Âge      _T   Total     26
34      SEX        Sexe       F   Femme     34
35      SEX        Sexe      _T   Total     35
174     GEO  Géographie       F  France    174

Cela a fonctionné, maintenant je vais effectué les changements de COD_MOD et supprimer la colonne index.

In [24]:
df_metadata = df_metadata.drop(columns=["index"])
df_metadata.head()

  COD_VAR LIB_VAR COD_MOD          LIB_MOD
0     AGE     Âge  Y_LT20  Moins de 20 ans
1     AGE     Âge  Y20T39   De 20 à 39 ans
2     AGE     Âge  Y40T59   De 40 à 59 ans
3     AGE     Âge  Y60T74   De 60 à 74 ans
4     AGE     Âge  Y_GE75   75 ans ou plus

In [26]:
df_metadata.loc[(df_metadata["COD_VAR"] == "AGE") & (df_metadata["COD_MOD"] == "_T"),"COD_MOD"] = "_Ta"

df_metadata.loc[df_metadata["COD_VAR"] == "GEO") & (df_metadata["COD_MOD"] == "F"),"COD_MOD"] = "Fr"

df_metadata[df_metadata["COD_MOD"].duplicated(keep=False)]

Empty DataFrame
Columns: [COD_VAR, LIB_VAR, COD_MOD, LIB_MOD]
Index: []

On effectue les mêmes changements dans le df d'origine

In [27]:
df.head()

  GEO GEO_OBJECT SEX     AGE EP_MEASURE OBS_STATUS_FR  TIME_PERIOD  OBS_VALUE
0  78        DEP   M  Y50T54        POP             D         2007    44919.0
1  85        DEP   M  Y60T64        POP             D         2007    15680.0
2  82        DEP   F  Y15T19        POP             D         2007     6516.0
3  79        DEP  _T  Y25T29        POP             D         2007    19285.0
4  62        DEP   F   Y_LT5        POP             D         2007    47222.0

In [33]:
df.loc[(df["AGE"] == "_T"),"AGE"] = "_Ta"

df.loc[(df["GEO"] == "F"),"GEO"] = "Fr"

In [34]:
df.loc[(df["AGE"] == "_Ta")]
df.loc[(df["GEO"] == "Fr")]

,GEO,GEO_OBJECT,SEX,AGE,EP_MEASURE,OBS_STATUS_FR,TIME_PERIOD,OBS_VALUE
83,Fr,FRANCE,_T,Y10T14,POP,D,2008,3866469.00
723,Fr,FRANCE,_T,Y65T69,POP,D,2006,2617682.00
893,Fr,FRANCE,_T,Y10T14,POP,D,2007,3874213.00
896,Fr,FRANCE,_T,Y_GE95,POP,D,2007,119817.00
1026,Fr,FRANCE,F,Y55T59,POP,D,2006,2162610.00
...,...,...,...,...,...,...,...,...
272952,Fr,FRANCE,_T,_Z,MEDAGE,D,2022,41.15
272957,Fr,FRANCE,_T,_Z,MEDAGE,D,2019,40.75
272958,Fr,FRANCE,_T,_Z,AVERAGE,PROV,2025,42.74
272963,Fr,FRANCE,F,_Z,MEDAGE,D,2022,42.64
272971,Fr,FRANCE,M,_Z,MEDAGE,D,2016,38.68

Nous pouvons maintenant lancer le script pour intégrer cela dans la base de données postgresql. Pour cela, lancer le script insertion_eff_total.py