In [7]:
import pandas as pd

df = pd.read_csv("../../data/eff_pop.csv", sep=";")
df_metadata = pd.read_csv("../../data/metadata_eff_pop.csv", sep=";")

In [13]:
df.head()

  GEO GEO_OBJECT SEX     AGE EP_MEASURE OBS_STATUS_FR  TIME_PERIOD  OBS_VALUE
0  78        DEP   M  Y50T54        POP             D         2007    44919.0
1  85        DEP   M  Y60T64        POP             D         2007    15680.0
2  82        DEP   F  Y15T19        POP             D         2007     6516.0
3  79        DEP  _T  Y25T29        POP             D         2007    19285.0
4  62        DEP   F   Y_LT5        POP             D         2007    47222.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272973 entries, 0 to 272972
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   GEO            272973 non-null  object
 1   GEO_OBJECT     272973 non-null  object
 2   SEX            272973 non-null  object
 3   AGE            272973 non-null  object
 4   EP_MEASURE     272973 non-null  object
 5   OBS_STATUS_FR  272973 non-null  object
 6   TIME_PERIOD    272973 non-null  int64
 7   OBS_VALUE      272973 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 16.7+ MB

In [10]:
df_metadata.head()

  COD_VAR LIB_VAR COD_MOD          LIB_MOD
0     AGE     Âge  Y_LT20  Moins de 20 ans
1     AGE     Âge  Y20T39   De 20 à 39 ans
2     AGE     Âge  Y40T59   De 40 à 59 ans
3     AGE     Âge  Y60T74   De 60 à 74 ans
4     AGE     Âge  Y_GE75   75 ans ou plus

In [14]:
df["EP_MEASURE"].value_counts()

EP_MEASURE
POP                   272211
PT_YGE65_IN_Y20T64       552
AVERAGE                  105
MEDAGE                   105
Name: count, dtype: int64

In [18]:
df["GEO_OBJECT"].value_counts()

GEO_OBJECT
DEP    226221
Name: count, dtype: int64

Pour ces tables, nous aurons besoin de la table metadata afin de bien comprendre les différents codes utilisés. Il faudra juste faire le tri pour n'avoir que les données départementales, pour le reste c'est tout bon. Pour enregistrer cela dans une base postgres, veuillez lancer le script insertion_eff_total.py